.App{
    display:flex;
    width: 100%;
}
.box{
    display: block;
    border: 2px black solid;
    height: 90vh;
    padding: 8px;
    margin: 2px;
    background-color: rgb(201, 252, 236);
    width: 90%;
}
.box header{
    display:flex;
}
.box header h1{
    width: 20%;
    display:block;
}
.counter{
    float: right;
    width: 20%;
    margin-left:65%;
    background-color: white;
    color:black;
    border-radius:25px;
    text-align: center;
}
.box button{
    width: 100%;
}
h1{
    display: block;
}
.parts
{
    background-color: whitesmoke;
    padding: 2%;
    margin: 5%;
    display:block;
    width: 100%;
    border-radius: 5px;
}

.parts h2{
    font-weight: lighter;
    display:block;
   
}

.parts h3{
    font-weight: lighter;
    display:block;
}

.data{
    background-color: blue;
    margin: 1px;
    display:block;
    width: 100%;
}